.popup__closed {
  padding: 0;
  margin-top: -40px;
  margin-left: 8px;
  background: transparent;
  background-image: url("../../../images/close-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 32px;
  height: 32px;
  border: none;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.2s linear;
}

.popup__closed:hover {
  opacity: 0.6;
}

@media screen and (max-width: 525px) {
  .popup__closed {
    width: 20px;
    height: 20px;
    align-self: flex-end;
    margin-bottom: 16px;
  }
}
