.popup__closed {
  padding: 0;
  margin-left: 8px;
  background: transparent;
  background-image: url("../../../images/close-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 32px;
  height: 32px;
  top: 0;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 525px) {
  .popup__closed {
    width: 20px;
    height: 20px;
    margin: auto 19px 16px auto;
  }
}
